
mixin blinker()
    div.blink.caret(tabindex='0' onfocus="caretFocus(this)")

mixin binkerEdit()
    p.caret.edit(tabindex='0' contentEditable=true onblur="textBlur(this)") &nbsp;

mixin textelement(text)
    div.elementbox
        +blinker()
        div.tshow.unselect(onclick='show(this)') &#9661;
        p.caret.text(tabindex='0' contentEditable=true onfocus="elementFocus(this)" onblur="textBlur(this)") text + &nbsp;

mixin element_old(type, id, classes)
    div.elementbox
        +blinker()
        div.tshow.unselect(onclick='show(this)') &#9661;
        div.element.caret(tabindex='0' onfocus="elementFocus(this)") 
            div.title.unselect 
                span.ttype #{type}
                span.tid.sl #{id} 
                span.tclass.sl #{classes}
                span.tprop.sl
                span.dummy ...
            div.content
                block
                +blinker()

mixin element(text)
    div.elementbox
        div.line.empty(contenteditable="true" tabindex='0' onFocus="onFocusEmpty(this)" onblur="onBlurEmpty(this)")
        div.linebox
            div.collapse(onclick='show(this)') &#9661;
            div.line.full(contenteditable="true" tabindex='0' onFocus="onFocusLine(this)" onblur="onBlurLine(this)") #{text}
        div.content
            block
            div.elementbox
                div.line.empty(contenteditable="true" tabindex='0' onFocus="onFocusEmpty(this)" onblur="onBlurEmpty(this)")

mixin baseElement(type, name, args)
    div.elementbox
        h2 #{type} #{name}
        div.content
            block
            div.elementbox
                div.line.empty(contenteditable="true" tabindex='0' onFocus="onFocusEmpty(this)" onblur="onBlurEmpty(this)")

#editbase  
    #startbase(tabindex='0' onfocus="focusLast(this)") 
    +baseElement('page','myPage','args')
        +element('#first')
        +element('div#myId no classes')
            +element('|text')
        +element('div#foo.hide.red.content the text is this')
    #endbase(tabindex='0' onfocus="focusLast(this)") 

#element_template.hide
    +element('')  
#textelement_template.hide
    +textelement('')
#caret_template.hide
    +blinker('')
#caretFocus_template.hide
    +binkerEdit()