mixin prop(name,value,myclass)
    div.prop(class=myclass)
        div.propname #{name}
        div.propvalue(contentEditable, spellcheck=false) #{value} &nbsp;

mixin selectprop(names,myclass)
    div.prop(class=myclass)
        div.propname #{name}
            select
                option(value="none") select
                option(value="none") other
        div.propvalue &nbsp;

mixin insertbutton(text,arg)
        button(onclick="insertElem('#{arg}')") #{text}

mixin elementMenu()
    #elementmenu.hide
        datalist#supportedtypes
            option.ttype(value="div")
            option.ttype(value="p")
            option(value="a")
            option(value="button")
            option(value="ul")
            option(value="span")
        div
            div tag
            input(type="text" list="supportedtypes", placeholder='select')
        div    
            div id
            input(type="text")

#left
    #lefttop 
        | lefttop
    #leftprop.hide
        h3 Basics
        
    #leftinsert
        h3 Insert
