mixin prop(name,value,myclass)
    div.prop(class=myclass)
        div.propname #{name}
        div.propvalue(contentEditable, spellcheck=false) #{value} &nbsp;

mixin selectprop(names,myclass)
    div.prop(class=myclass)
        div.propname #{name}
            select
                option(value="none") select
                option(value="none") other
        div.propvalue &nbsp;

mixin insertbutton(text,arg)
        button(onclick="insertElem('#{arg}')") #{text}

mixin elementMenu()
    #elementmenu.hide
        datalist#supportedtypes
            option.ttype(value="div")
            option.ttype(value="p")
            option(value="a")
            option(value="button")
            option(value="ul")
            option(value="span")
        div
            div tag
            input(type="text" list="supportedtypes", placeholder='select')
        div    
            div id
            input(type="text")

#left
    #lefttop 
        div.updown
            button(onclick='carretMove(-1)') &#9650;
            button(onclick='carretMove(1)') &#9660;
    #leftprop.hide
        h3 Basics
        +prop('type','div','pptype')
        +prop('id','myid','ppid')
        +prop('comment','','ppcomment')
        +prop('class','peter','ppclass')
        +prop('','pan','ppclass')
        +prop('','','ppclass')
        
    #leftinsert
        div.lcont
            h2 common
            +insertbutton('[text]','text')
            +insertbutton('div','div')
            +insertbutton('p','p')
            +insertbutton('a','a')
            +insertbutton('span','span')
            +insertbutton('h1','h1')
            +insertbutton('h2','h2')
            +insertbutton('h3','h3')
    #paste 
        button(onclick='pastetext(this)' ) insert
        div.pastetext(contentEditable placeholder="Paste here...") 
